// Nextflow config for AgVic x UQ CLRC pipeline 
manifest {
  name = 'CLRC-pipeline'
  description = 'Long Read analysis pipeline implemented with Nextflow - Developed for the Bovine Long Read Consortium' 
  author = 'Tuan Nguyen | tuan.nguyen@agriculture.vic.gov.au'
  nextflowVersion = '>=20.07.0'
}

nextflow.enable.configProcessNamesValidation = false

/////////////////////
// BASE PARAMETERS //
/////////////////////

// Set process executor 
// For institute with different system, say PBS or AWS, change this to its appropriate executor using flag `-profile`

process {
    executor = "slurm"
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        process.beforeScript = 'module load shifter'
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
    test { 
        includeConfig 'conf/test.config'          
    }
    agvic { 
        includeConfig 'conf/agvic.config'
    }
}

// Docker/Shifter container - built by Tuan Nguyen
process {
    withName:MINIMAP2 {
        container = 'tuannguyen90/clrc_mapping:1.0'
    }
    withName:WINNOWMAP2 {
        container = 'tuannguyen90/clrc_mapping:1.0'
    }
    withName:NGMLR {
        container = 'tuannguyen90/clrc_mapping:1.0'
    }
//    withName:SAMTOOLS_DEPTH {
//        container = 'tuannguyen90/samtools-datamash:1.0'
//    }
    withName:CLAIR3 {
        container = 'hkubal/clair3:v0.1-r12'
    }
    withName:PEPPER {
        container = 'kishwars/pepper_deepvariant:r0.8'
    }
    withName:SNIFFLES2 {
        container = 'tuannguyen90/sniffles:2.0.6'
    }
    withName:CUTESV {
        container = 'tuannguyen90/cutesv:1.0'
    } 
    withName:NANOFILT {
        container = 'tuannguyen90/clrc_qc:1.0'
    }
    withName:FILTLONG{
        container = 'tuannguyen90/filtlong:0.2.1'
    }
    withName:DYSGU{
        container = 'kcleal/dysgu:latest'
    }
//    withName:NANOCALLER{
//        container = 'genomicslab/nanocaller:3.0.0'
//    }
}

// Save settings
params.SaveMode             = 'copy'
params.Overwrite            = true

// Pipeline settings - DEFAULT is both TRUE - but assume if you already have clean reads, you might disable enable_QC for example
params.enable_QC              = true
params.enable_SNV_SV          = true

// Default program
params.MapMethod            = 'Minimap2'
params.SVCallMethod         = 'Sniffles2'
params.SNPCallMethod        = 'Clair3'

// Mapping // One at a time only
params.enable_minimap2      = true
params.enable_ngmlr         = false
params.enable_winnowmap2    = false

// QC // One at a time only
params.enable_nanofilt      = false
params.enable_filtlong      = true

// SNP calling // Multiple allow
params.enable_clair3        = true
params.enable_pepper        = true // Not working yet
params.enable_nanocaller    = false // Will support in upcoming patch

// SVs calling // Multiple allow
params.enable_sniffles2     = true
params.enable_cutesv        = true
params.enable_dysgu         = true
params.enable_svim          = false // A bit outdated & not having constant support. Will support in upcoming patch 
params.enable_nanosv        = false // Outdated (Last update 2019), probably not going to support in BovLRC

// Metadata Dir
params.LR_MetaDir           = 'meta/LR_metadata.csv' // LR metadata Dir
params.SR_MetaDir           = 'meta/SR_metadata.csv' // SR metadata Dir

// Genome Dir
params.GenomeDir            = 'asset/genome_compact' 

/////////////////////////////////
// ANALYSIS DEFAULT PARAMETERS //
/////////////////////////////////

// Output Dir # Have to address this one, the rest should be automatically resolved :) 
params.Source_Dir           = '/group/dairy/Tuan/Recessive_lethal/Nextflow/results'

// SNVs calling settings 
// Clair3
params.PB_SNP_model         = 'asset/models/hifi'
params.ONT_SNP_model        = 'asset/models/r941_prom_sup_g5014'


/// DO NOT EDIT :) ///
params.Report_Dir = "${params.Source_Dir}/Log"
params.Basecall_Dir = "${params.Source_Dir}/Basecall"
params.QC_Dir = "${params.Source_Dir}/LR_QC"
params.Map_Dir = "${params.Source_Dir}/Mapping"
params.SV_Dir = "${params.Source_Dir}/SV"
params.SNP_Dir = "${params.Source_Dir}/SNP"


// Cluster specs settings
process {
    withLabel: single_cpu_job {
        cpus = 1
        memory = 16.GB
    }
} 

process {
    withLabel: tiny_job {
        cpus = 2
        memory = 16.GB
    }
} 

process {
    withLabel: small_job {
        cpus = 8
        memory = 32.GB
    }
} 

process {
    withLabel: medium_job {
        cpus = 16
        memory = 64.GB
    }
} 

process {
    withLabel: big_job {
        cpus = 24
        memory = 128.GB
    }
} 

process {
    withLabel: extreme_job {
        cpus = 48
        memory = 256.GB
    }
} 

process {
    withLabel: clair3_specific_specs {
        cpus = 24
        memory = 128.GB
    }
} 

process {
    withLabel: high_mem {
        cpus = 8
        memory = 256.GB
    }
} 
