// Nextflow config for AgVic x UQ CLRC pipeline 
manifest {
  name = 'CLRC-pipeline'
  description = 'Long Read analysis pipeline implemented with Nextflow - Developed for the Bovine Long Read Consortium' 
  author = 'Tuan Nguyen | tuan.nguyen@agriculture.vic.gov.au'
  nextflowVersion = '>=20.07.0'
}

nextflow.enable.configProcessNamesValidation = false

//////////////////////////////////////////////////////////////
// CHECK BASE PARAMETERS TO SEE IF IT WORKS FOR YOUR SYSTEM //
//////////////////////////////////////////////////////////////

// Output Dir # User only need to update this address, the rest should be automatically resolved :) 
params.Source_Dir           = '/group/dairy/Tuan/Recessive_lethal/Nextflow/results'


// Set process executor 
// For institute with different system, say PBS or AWS, change this to its appropriate executor 
process.executor = 'slurm'

executor {
    queueSize = 300
    pollInterval = '30 sec'
}


// Cluster specs settings - Please adjust this to your local cluster specifications

process {
    withLabel: single_cpu_job {
        cpus = 1
        memory = 16.GB
    }
} 

process {
    withLabel: tiny_job {
        cpus = 2
        memory = 16.GB
    }
} 

process {
    withLabel: small_job {
        cpus = 8
        memory = 32.GB
    }
} 

process {
    withLabel: medium_job {
        cpus = 16
        memory = 64.GB
    }
} 

process {
    withLabel: big_job {
        cpus = 24
        memory = 128.GB
    }
} 


process {
    withLabel: extreme_job {
        cpus = 48
        memory = 256.GB
    }
} 


process {
    withLabel: high_mem {
        cpus = 8
        memory = 256.GB
    }
} 

process {
    withLabel: py_high_mem {
        cpus = 1
        memory = 256.GB
    }
} 

//////////////////////////
// END BASE PARAMETERS // 
/////////////////////////


profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "--bind \${TMPDIR}:/tmp --bind \${TMPDIR} --bind ${params.Source_Dir}"
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        process.beforeScript = 'module load shifter'
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
    test { 
        includeConfig 'conf/test.config'          
    }
}


// Docker/Shifter container - built by Tuan Nguyen
process {
    withName:MINIMAP2 {
        container = 'tuannguyen90/clrc_mapping:1.0'
    }
    withName:WINNOWMAP2 {
        container = 'tuannguyen90/clrc_mapping:1.0'
    }
    withName:NGMLR {
        container = 'tuannguyen90/clrc_mapping:1.0'
    }
    withName:SAMTOOLS_DEPTH {
        container = 'tuannguyen90/samtools_datamash:1.0'
    }
    withName:CLAIR3 {
        container = 'hkubal/clair3:v1.0.4'
    }
    withName:PEPPER {
        container = 'kishwars/pepper_deepvariant:r0.8'
    }
    withName:SNIFFLES2 {
        container = 'tuannguyen90/sniffles:2.2'
    }
    withName:CUTESV {
        container = 'tuannguyen90/cutesv:2.0.3'
    } 
    withName:NANOFILT {
        container = 'tuannguyen90/clrc_qc:1.0.2'
    }
    withName:FILTLONG{
        container = 'tuannguyen90/filtlong:0.2.2'
    }
    withName:DYSGU{
        container = 'tuannguyen90/dysgu:1.3.16'
    }
    withName:F5C {
        container = 'tuannguyen90/f5c:1.0'
    }
    withName:DEEPVARIANT {
        container = 'google/deepvariant:1.5.0'
    }
    withName:SPECTRE {
        container = 'tuannguyen90/spectre:1.0.1'
    }
    withName:MOSDEPTH {
        container = 'tuannguyen90/mosdepth:0.0.3'
    }
    withName:LONGSHOT{
        container = 'tuannguyen90/longshot:0.4.3'
    }
    withName:MULTIQC {
        container = 'ewels/multiqc:v1.14'
    }
}

// Save settings
params.SaveMode             = 'copy'
params.Overwrite            = true

// Pipeline settings - DEFAULT is both TRUE - but assume if you already have clean reads, you might disable enable_QC for example
params.enable_QC            = true
params.enable_SNV_SV        = true

// Default program
params.MapMethod            = 'Minimap2'
params.SVCallMethod         = 'Sniffles2'
params.SNPCallMethod        = 'Clair3'

// Mapping // One at a time only
params.enable_minimap2      = true
params.enable_ngmlr         = false
params.enable_winnowmap2    = false

// Mapping stats
params.enable_mosdepth      = true

// QC // One at a time only
params.enable_nanofilt      = false
params.enable_filtlong      = true

// SNP calling // Multiple allow
params.enable_clair3        = true
params.enable_pepper        = false 
params.enable_longshot      = false // Currently supporting, cannot calling INDEL, suitable for > 30X coverage
params.enable_deepvar       = false

// SVs calling // Multiple allow
params.enable_sniffles2     = true
params.enable_cutesv        = false
params.enable_dysgu         = false


// Metadata Dir
params.LR_MetaDir           = 'meta/LR_metadata.csv' // LR metadata Dir
params.SR_MetaDir           = 'meta/SR_metadata.csv' // SR metadata Dir

// Genome Dir
params.GenomeDir              = 'asset/genome_compact' 

/////////////////////////////////
// ANALYSIS DEFAULT PARAMETERS //
/////////////////////////////////


// SNVs calling settings 
// Clair3
params.clair3_model_path        = 'asset/models'

/// DO NOT EDIT :) ///
params.Report_Dir = "${params.Source_Dir}/Log"
params.Basecall_Dir = "${params.Source_Dir}/Basecall"
params.QC_Dir = "${params.Source_Dir}/LR_QC"
params.Map_Dir = "${params.Source_Dir}/Mapping"
params.SV_Dir = "${params.Source_Dir}/SV"
params.SNP_Dir = "${params.Source_Dir}/SNP"
params.Merge_Variant_Dir = "${params.Source_Dir}/Merged_Variant"

