process.executor = 'local'
process.cpus = '1'
process.memory = '512 MB'

params.LR_MetaDir = "$baseDir/meta/test/test_metadata_LR.csv" 
params.SR_MetaDir = "$baseDir/meta/test/test_metadata_SR.csv"
params.report_Dir ="$baseDir/test_results/Log"
params.Basecall_Dir = "$baseDir/test_results/Basecall"
params.QC_Dir = "$baseDir/test_results/LR_QC"
params.Map_Dir = "$baseDir/test_results/Mapping"
params.SV_Dir = "$baseDir/test_results/SV"
params.SNP_Dir = "$baseDir/test_results/SNP