executor {
    name = 'slurm'
    queue = 'haswell'
    queueSize = 200
    pollInterval = '30 sec'
}

params.LR_MetaDir = "$baseDir/meta/test/test_metadata_LR.csv" 
params.SR_MetaDir = "$baseDir/meta/test/test_metadata_SR.csv"
params.Report_Dir ="$baseDir/test_results/Log"
params.Basecall_Dir = "$baseDir/test_results/Basecall"
params.QC_Dir = "$baseDir/test_results/LR_QC"
params.Map_Dir = "$baseDir/test_results/Mapping"
params.SV_Dir = "$baseDir/test_results/SV"
params.SNP_Dir = "$baseDir/test_results/SNP"
params.merged_SNP_Dir = "$baseDir/test_results/Merged_SNP"
params.Methylation_Dir = "$baseDir/test_results/Methylation"
params.Phase_Dir = "$baseDir/test_results/Phase"
params.Imputation_Dir = "$baseDir/test_results/Imputation"
params.SLOW5_Dir = "baseDir/test_results/SLOW5"
params.FAST5_Dir = "baseDir/test_results/FAST5"
